@page "/gen8unobtainable"

<h3>Pokémon Unobtainable in Generation 8 Games</h3>

@if (PokemonList.Count == 0)
{
    <p>Loading...</p>
}
else
{
    @foreach (var pokemon in PokemonList)
    {
        <PokemonComponent Pokemon=pokemon />
    }
}
