@page "/gen8unobtainable"

<PageTitle>Pokémon Unobtainable in Generation 8 Games</PageTitle>
<h3>Pokémon Unobtainable in Generation 8 Games</h3>

@if (PokemonList.Count < UnobtainableIds.Count)
{
    <p>Loading... @PokemonList.Count / @UnobtainableIds.Count</p>
    <progress value="@PokemonList.Count" max="@UnobtainableIds.Count" />
}
else
{
    @foreach (var pokemon in PokemonList)
    {
        <PokemonComponent Pokemon=pokemon />
    }
}
