@page "/"

<PageTitle>Pokédex</PageTitle>
<h3>Pokédex</h3>

@if (PokemonList.Count < Max)
{
    <p>Loading... @Loaded / @Max</p>
    <progress value="@Loaded" max="@Max" />
}
@foreach (var pokemon in PokemonList)
{
    <PokemonComponent Pokemon=pokemon />
}
