@page "/"

<PageTitle>Pokédex</PageTitle>
<h3>Pokédex</h3>

@if (PokemonDtoList is null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var pokemonDto in PokemonDtoList)
    {
        <PokemonDtoComponent PokemonDto=pokemonDto />
    }
}
